.timerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--color-border);
  border-radius: 5px;
}

.time {
  font-size: 88px;
}

.next, .prev {
  align-self: stretch;
  display: flex;
  align-items: center;
}

.next:hover, .prev:hover {
  background-color: var(--color-bg-hover);
}

.prev {
  border-right: 1px solid var(--color-border);
}
.next {
  border-left: 1px solid var(--color-border);
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  font-size: 20px;
  padding-bottom: 10px;
}

.infoItem {
  display: flex;
  align-items: center;
}