:root {
  --color-bg: #fff;
  --color-text: #000;
  --color-hover-bg: #000;
  --color-hover-text: #000;
}

body {
  background: var(--color-bg);
  color: var(--color-text);
  font-size: 32px;
  font-weight: 600;
}

.container {
  max-width: 500px;
  /* border: 1px solid black; */
  margin: 0 auto;
}
