.modes {
  display: flex;
}

.mode {
  flex: 1;
  border: 1px solid var(--color-border);
  padding: 10px 0;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;

  &:nth-child(1) {
    border-right: 0px;
    border-radius: 5px 0px 0px 5px;
  }
  &:nth-child(3) {
    border-left: 0px;
    border-radius: 0px 5px 5px 0px ;
  }
}

.modeActive {
  background-color: var(--color-bg-hover);
}

.btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 10px;
  border: 1px solid var(--color-border);
  border-radius: 5px;
}

.timer {
  position: relative;
}

.prev {
  position: absolute;
  left: 0;
  bottom: 0;
}
.next {
  position: absolute;
  right: 0;
  bottom: 0;
}